In [4]:
import numpy as np
import pandas as pd
import re
from datetime import datetime

In [2]:
url = "train.csv"
raw = pd.read_csv(url, engine="pyarrow", dtype_backend="pyarrow")

In [3]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54273 entries, 0 to 54272
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            54273 non-null  int64[pyarrow]
 1   brand         54273 non-null  string[pyarrow]
 2   model         54273 non-null  string[pyarrow]
 3   model_year    54273 non-null  int64[pyarrow]
 4   milage        54273 non-null  int64[pyarrow]
 5   fuel_type     54273 non-null  string[pyarrow]
 6   engine        54273 non-null  string[pyarrow]
 7   transmission  54273 non-null  string[pyarrow]
 8   ext_col       54273 non-null  string[pyarrow]
 9   int_col       54273 non-null  string[pyarrow]
 10  accident      54273 non-null  string[pyarrow]
 11  clean_title   54273 non-null  string[pyarrow]
 12  price         54273 non-null  int64[pyarrow]
dtypes: int64[pyarrow](4), string[pyarrow](9)
memory usage: 9.6 MB

In [27]:
prep_data(raw)

,id,brand,model,milage,fuel_type,transmission,ext_col,int_col,accident,clean_title,price,age,horsepower,cylinders
0,0,Ford,F-150 Lariat,74349,Gasoline,Automatic,Blue,Gray,0,1,9.305741,6,375.0,6.0
1,1,BMW,335 i,80000,Gasoline,Manual,Black,Black,0,1,9.018090,17,300.0,6.0
2,2,Jaguar,XF Luxury,91491,Gasoline,Automatic,Purple,Beige,0,1,9.615872,15,300.0,8.0
3,3,BMW,X7 xDrive40i,2437,Hybrid,Other,Gray,Brown,0,1,11.058811,2,335.0,6.0
4,4,Pontiac,Firebird Base,111000,Gasoline,Automatic,White,Black,0,1,8.968396,23,200.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54268,54268,BMW,X6 xDrive50i,29000,Gasoline,Automatic,White,Brown,0,1,10.275086,7,445.0,8.0
54269,54269,Audi,A4 2.0T Premium,94634,E85 Flex Fuel,Automatic,Black,Black,1,1,8.779711,9,220.0,4.0
54270,54270,Porsche,Cayenne S,40989,Gasoline,Other,White,Black,1,1,9.849612,11,420.0,6.0
54271,54271,Porsche,911 Carrera 4 GTS,1518,Gasoline,Other,Beige,Brown,0,1,12.180580,1,NaN,NaN
54272,54272,Audi,A5 Sportback S line Premium Plus,35000,Hybrid,Automatic,Black,Black,0,1,10.532096,3,261.0,4.0

%%writefile cohort4_helper.py
#
#
# Ricky Macharm, MScFE
# www.SisengAI.com
# Â© 2024 SisengAI. All rights reserved.
#
#

import pandas as pd
import numpy as np
import re
from datetime import datetime

def shrink_ints(df):
    mapping = {}
    for col in df.dtypes[df.dtypes == 'int64[pyarrow]'].index:
        max_ = df[col].max()
        min_ = df[col].min()
        if min_ < 0:
            continue
        if max_ < 255:
            mapping[col] = 'uint8[pyarrow]'
        elif max_ < 65_535:
            mapping[col] = 'uint16[pyarrow]'
        elif max_ < 4294967295:
            mapping[col] = 'uint32[pyarrow]'
    return df.astype(mapping)

def prep_data(df):
    current_year = datetime.now().year

    def extract_hp(engine):
        match = re.search(r'(\d+\.?\d*)HP', engine)
        return float(match.group(1)) if match else np.nan

    def extract_cylinders(engine):
        match = re.search(r'(\d+) Cylinder', engine)
        return int(match.group(1)) if match else np.nan

    def fill_cylinders(row):
        if pd.isna(row['cylinders']):
            if row['fuel_type'] == 'Electric':
                return 0
            else:
                return 4
        return row['cylinders']

    return (df
        # Drop the id column
        .drop(columns=['id'])

        # Convert string columns to category
        .assign(**df.select_dtypes('string').astype('category'))
        
        # Shrink integer columns
        .pipe(shrink_ints)
        
        # Convert model year to age
        .assign(age=lambda x: current_year - x['model_year'])
        .drop(columns=['model_year'])
        
        # Extract horsepower and cylinders from engine
        .assign(
            horsepower=lambda x: x['engine'].apply(extract_hp),
            cylinders=lambda x: x['engine'].apply(extract_cylinders)
        )
        .drop(columns=['engine'])
        
        # Fill missing horsepower with 150 HP
        .assign(horsepower=lambda x: x['horsepower'].fillna(150))
        
        # Fill missing cylinders based on fuel type
        .assign(cylinders=lambda x: x.apply(fill_cylinders, axis=1))
        
        # Simplify transmission types
        .assign(transmission=lambda x: x['transmission'].apply(lambda val: 'Automatic' if 'A/T' in val else 'Manual' if 'M/T' in val else 'Other'))
        
        # Encode accident and clean title as binary
        .assign(
            accident=lambda x: x['accident'].apply(lambda val: 1 if 'accident' in val.lower() else 0),
            clean_title=lambda x: x['clean_title'].apply(lambda val: 1 if val == 'Yes' else 0)
        )
        
        # Log transform the target variable
        .assign(price=lambda x: np.log1p(x['price']))
    )

In [34]:
def show_nulls(df):
    return (df[df
            .isna()
            .any(axis=1)]
           )

show_nulls(prep_data(raw))

Empty DataFrame
Columns: [brand, model, milage, fuel_type, transmission, ext_col, int_col, accident, clean_title, price, age, horsepower, cylinders]
Index: []